* {
    color:var(--text-color);
}
body, #weaponSelection {
    background-color: var(--bg-color);
}
/* Hub Box */
.hubBox {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}
.hubBoxInputs {
    display: flex;
    flex-direction: column;
}
/* Selection */
.selection {
    display:flex;
    flex-direction: column;
    width: max-content;
}
.selection p {
    margin:5px;
    text-align: center;
}
#weaponSelection {
    padding:5px;
    overflow-y: auto;
    scrollbar-width: none; /*For Firefox*/;
    -ms-overflow-style: none;  /*For Internet Explorer 10+*/;
}
#weaponSelection option {
    padding:2px;
}
/* Input */
.inputContainer {
	margin: 0px 0px 15px 0;
}
.inputText {
    margin:0;
}
.weaponStatInput[type=number] {
    width: 5em;
    color:#000;
    float:right;
}

/* Table */
td, th, tr, table {
    border-collapse: collapse;
    border: 1px solid var(--border-color);
    padding: 0 7px;
    min-width: 75px;
}
td {
    text-align: right;
}
th {
    font-weight:normal;
}