* {
    color:var(--text-color);
}
body, select {
    background-color: var(--bg-color);
} 
/* Hub Box */
.hubBox {
	display: flex;
	gap: 25px;
	flex-wrap: wrap;
}
.hubBoxInputs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
/* Selection */
.selection {
    display:flex;
    flex-direction: column;
    /*width: 220px;*/
}
.selection p {
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: center;
}
img{
    box-sizing:border-box;
    border:0;
    vertical-align:middle;
    -ms-interpolation-mode:bicubic
}
#wpLogo {
    width: 170px;
}
#weaponSelection {
    padding:5px;
    overflow-y: auto;
    scrollbar-width: none; /*For Firefox*/;
    -ms-overflow-style: none;  /*For Internet Explorer 10+*/;
    min-width:14em;
}
#weaponSelection option {
    padding: 2px;
    font-size: 16px;
}
select#monsterSelection,select#helmetSelection,select#shieldSelection,select#targetSelection {
    width: -webkit-fill-available;
}
#modSelection {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 225px;
}
#SLOT1,#SLOT2,#SLOT3,#SLOT4{
    min-width:12em;
}
.inputContainer {
	margin: 0px 0px 20px 0;
}
.inputText {
    margin:0;
}
.weaponStatInput[type=number],.ehpStatInput[type=number]{
    width: 5em;
    color:#000;
    float:right;
}
.weaponStatInput,.ehpStatInput {
    width: -webkit-fill-available;
}

/* Table */
td, th, tr {
    border: 1px solid var(--border-color);
    border-style: inset;
    padding: 2px 8px;
    min-width: 75px;
}
table {
    border: 0px solid;
    border-spacing: 0px;
}
td {
    text-align: right;
}
th {
    font-weight:normal;
}
th#wpName,th#thLogo,.statSections {
    border: 0px;
    padding-top: 10px;
}


/** Minimal Scrollbar **/
/* WebKit and Blink */
::-webkit-scrollbar {
    width: 8px;
    height: 1px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.8);
    border-color: #fff;
    border: 1px solid #000000;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255,255,255,0.8);
}
::-webkit-scrollbar-thumb:active {
    background-color: rgba(230,230,230,0.8);
}
::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0, 0);
    border: rgba(0,0,0,0);
}
::-webkit-scrollbar-corner {
    background: transparent;
}

/* Spec Version (Gecko only at the time of this addition) */
*, body {
   scrollbar-width:Thin;
   scrollbar-color:rgba(255,255,255,0.8) transparent;
}